<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.org/dtd/hibernate-configuration-3.0.dtd">

<hibernate-configuration>

	<session-factory>
		<property name="transaction.factory_class">org.hibernate.transaction.JDBCTransactionFactory</property>
		<property name="dialect">org.hibernate.dialect.PostgreSQLDialect</property>
		<property name="cache.use_second_level_cache">true</property>
		<property name="cache.region.factory_class">org.hibernate.cache.ehcache.EhCacheRegionFactory</property>
		<property name="hibernate.cache.use_query_cache">true</property>
		<property name="hibernate.generate_statistics">true</property>
        <property name="hibernate.cache.generate_statistics">true</property>

		<property name="show_sql">true</property>
		<property name="format_sql">true</property>

		<mapping class="ecc.cords.Address"/>
		<mapping class="ecc.cords.Contact"/>
		<mapping class="ecc.cords.Employee"/>
		<mapping class="ecc.cords.Name"/>
		<mapping class="ecc.cords.Role"/>
		
	</session-factory>

</hibernate-configuration>        
